body{
  margin-top:70px;
  background-color: #0f6bba;
  color: #eee;
}

section:nth-child(2){
  margin-top:50px;
}

h1 {
  font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 80px;
}

p{
  font-weight: 300;
  font-size: 23px;
}
.download{
  margin-top:5px;
}

.btn {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.btn span {
  padding-left: 5px;
  vertical-align: middle;
}

@media (min-width: 992px) {
  h1 {
    font-size: 105px;
    margin-top:0px;
  }
  p{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .screens{
    display: inline-block;
    position:relative;
    height:400px;
    width:100%;
  }

  .screens img{
    float:left;
    display:inline-block;
    position:absolute;
  }

  .screens img.img1{
    bottom:-30px;
  }

  .screens img.img2{
    left: 250px;
  }

  .screens img.img3{
    left: 400px;
  }

  .screens img.img4{
    left: 550px;
  }
  img.vertical {
    max-height: 400px;
  }

  img.horizontal{
    max-width: 400px;
  }
}